/* Base styles */
/* *{
    /* background-color: #ff0;
} */
.navbar {
    display: flex;

    justify-content: space-between;
    align-items: center;
    padding: 2% 10%;
    background-color: white;
    color: black;
    margin-bottom: 50px;
    width: 80%;
}

#forflex{
    width: 60%;
    display: flex;
    justify-content: space-between;
}
.logo {
    font-size: 24px;
}

.hamburger {
    display: none;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.hamburger {
    font-size: 25px;
}

.hamburger::before,
.hamburger::after,
.hamburger div {
    content: '';
    position: absolute;
    width: 150%;
    height: 20px; 
    left: 0;
    transition: all 0.3s;
}

.hamburger::before {
    top: 0;
}

.hamburger div {
    top: 50%;
    transform: translateY(-50%);
}

.hamburger::after {
    bottom: 0;
}

.tabs {
    display: flex;
    align-items: center;
    /* width: 150%; */
}

.tabs ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px; /* Add gap between each tab */
}

.tabs ul li {
    margin-right: 20px;
}

.tabs ul li a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: normal;
    background-color: #ffffff;
}


.dropdown {
    position: relative;
    background-color: #ffffff;
}

.dropdown-content {
    position: absolute;
    background-color:#ffffff;
    min-width: 200px;
    z-index: 1;
    display: none;
    color: black;
    z-index: 200000000;
}

.dropdown-content.show {
    display: block;
    background-color: #ffffff;
    z-index: 2;
}

.contact button {
    background-color: #20303F;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
    border-radius: 5px;
}

/* Media Query for Mobile Screens */
@media (max-width: 500px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        padding: 2% 10%;
    }

    .hamburger {
        display: block;
        height: 20px;
    }

    .tabs {
        position: fixed;
        top: 0;
        left: -100%;
        height: 100%;
        width: 50%;
        background-color: #f8f9fa; /* Light background color */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        overflow-y: auto;
        transition: left 0.3s ease-in-out;
        z-index: 1000;
        box-shadow: 2px 0 5px rgba(0,0,0,0.5);
    }

    .tabs.show {
        left: 0;
    }

    .tabs ul {
        flex-direction: column;
        width: 100%;
    }

    .tabs ul li {
        width: 100%;
        margin: 10px 0;
    }

    .tabs ul li a, .contact button {
        display: block;
        width: 100%;
        text-align: left;
        padding: 10px 15px;
        border-bottom: 1px solid #ddd;
    }

    .dropdown-content {
        position: relative;
    }

    .contact {
        width: 100%;
    }

    .contact button {
        background-color: #20303F;
        width: 80%;
        color: white;
        border: none;
        padding:15px;
        margin: 20px;
        margin-right: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
    }
    /* #forflex{
        width: auto;
        display: block;
        justify-content: auto;
    } */
}
